<header class="background-red">
    <div class="container d-flex header">
        <a href="/pages/index.html"><img src="/assets/images/logo-white.png" alt="logo-white"></a>
        <ul class="d-flex menu">
            <li><a href="/pages/optical.html">系列鏡框</a></li>
            <li><a href="/pages/store.html">門市據點</a></li>
            <li><a href="/pages/blog.html">部落格</a></li>
            <li><a href="/pages/faq/html">常見問題</a></li>
        </ul>
    </div>
</header>