footer{
  margin-top: 80px;
  color: $white;
}
.d-flex-start{
  display: flex;
  justify-content: start;
}
.contact-us{
  padding-bottom: 32px;
  border-bottom: #F2F2F2 solid 1px;
}
.footer-menu{
  font-family: 'Noto Sans TC', sans-serif;
  font-style: 16px;
  margin-top: 60px;
  margin-bottom: 36px;
}
.phone a{
  justify-content: start;
  font-size: 36px;
  margin-bottom: 8px;
}
.mail{
  justify-content: start;
  font-size: 36px;
}
.sns{
  margin-top: 48px;
}
.sns img{
  max-width: 48px;
  margin-left: 32px;
}
.copyright{
  margin-top: 32px;
  padding-bottom: 32px;
}
.statement{
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
}
.polocy{
  font-size: 14px;
}
.ml-48{
  margin-left: 48px;
}
.footer .material-symbols-outlined{
  font-size: 48px;
  margin-right: 22px;
}
@media (max-width:992px){
  .footer .material-symbols-outlined{
    font-size: 36px;
  }
}
@media (max-width:767px){
  footer{
    margin-top: 64px;
  }
  .contact-us .footer-menu{
      display: none;
  }
  .contact-us{
      padding-bottom: 24px;
  }
  .phone{
      margin-top: 24px;
  }
  .phone a{
      font-size: 16px;
      margin-bottom: 8px;
  }
  .mail a{
      font-size: 16px;
  }
  .sns{
      margin-top: 24px;
  }
  .sns img{
      max-width: 24px;
      margin-left: 8px;
  }
  .footer .material-symbols-outlined{
      font-size: 24px;
  }
  .copyright{
      flex-wrap: wrap;
      padding-bottom: 24px;
      margin-top: 16px;
  }
  .statement{
      margin-bottom: 8px;
  }
  .policy{
      display: flex;
      flex-direction: column;
      width: 100%;
  }
  .policy p{
      font-size: 16px;
      margin-bottom: 8px;
      margin-left: 0;
  }
}