*{
  box-sizing: border-box;
}
body{
  font-family: 'Noto Sans TC', sans-serif;
  line-height: 1.5;
  margin: 0 auto;
}
img{
    max-width: 100%;
    height: auto;
    display: block;
  }  
a{
    text-decoration: none;
    color: $white;
}
a:visited{
    text-decoration: none;
    color: $white;
}
.background-red{
  background: $primary;
}
.header{
  font-size: 20px;
  padding: 25px 0px;
}
.header img{
  max-width: 80px;
}
.container{
  max-width: 1296px;
  margin: 0 auto;
}
.d-flex{
  display: flex;
  justify-content: space-between;
}
.menu li{
    margin-left: 64px;
    display: flex;
    align-items: center;
}
@media (max-width:992px){
  .header{
      padding: 12px 30px;
  }
}
@media (max-width:767px){
  body{
      padding: 0 5px;
  }
  .header{
      flex-wrap: wrap;
      padding: 0;
  }
  .header img{
      margin: 12px 15px;
  }
  .menu{
      flex-wrap: wrap;
      width: 100%;
  }
  .menu li{
      width: 50%;
      border: 1px solid $white;
      margin: 0 auto;
      justify-content: center;
      padding: 12px 62px;
  }
}