<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>index</title>
  </head>
  <body>
    <%- include('./layout/header'); -%>

    <ul class="d-flex container f-s-32 f-w-medium series">
      <li class="border-bottom-red"><a href="#">OPTICAL</a></li>
      <li><a href="/pages/sunglasses.html">SUNGLASSES</a></li>
      <li class="border-right-white"><a href="#">FUNCTIONAL</a></li>
  </ul>
  <div class="d-flex banner">
      <div class="d-flex big-img"><img src="/assets/images/product-header-1.png" alt="SUNGLASSES"><img src="/assets/images/product-header-2.png" alt="model"></div>
      <div class="sml-img">
          <img src="/assets/images/product-header-sm-1.png" alt="SUNGLASSES"><img src="/assets/images/product-header-sm-2.png" alt="model">
      </div>
  </div>
  <div class="mt-80 items">
      <h1 class="f-w-medium">Celluloid Combi</h1>
      <h2>賽璐珞鈦金屬混合鏡框</h2>
      <ul class="container mt-32 d-flex item-list">
          <li>
              <img src="/assets/images/product-1.png" alt="product-1">
              <div class="d-flex">
                  <h3>BJ41600S</h3>
                  <p class="f-s-24-red">NTD3,490</p>
              </div>
              <div class="d-flex jc-start">
                  <p class="color1"></p>
                  <p class="color2"></p>
              </div>
          </li>
          <li>
            <img src="/assets/images/product-2.png" alt="product-2">
            <div class="d-flex">
                <h3>BJ41600S</h3>
                <p class="f-s-24-red">NTD3,490</p>
            </div>
            <div class="d-flex jc-start">
                <p class="color1"></p>
                <p class="color2"></p>
            </div>
        </li>
        <li>
          <img src="/assets/images/product-3.png" alt="product-3">
          <div class="d-flex">
              <h3>BJ41600S</h3>
              <p class="f-s-24-red">NTD3,490</p>
          </div>
          <div class="d-flex jc-start">
              <p class="color1"></p>
              <p class="color2"></p>
          </div>
        </li>
        <li>
          <img src="/assets/images/product-4.png" alt="product-4">
          <div class="d-flex">
              <h3>BJ41600S</h3>
              <p class="f-s-24-red">NTD3,490</p>
          </div>
          <div class="d-flex jc-start">
              <p class="color1"></p>
              <p class="color2"></p>
          </div>
        </li>
        <li>
          <img src="/assets/images/product-5.png" alt="product-5">
          <div class="d-flex">
              <h3>BJ41600S</h3>
              <p class="f-s-24-red">NTD3,490</p>
          </div>
          <div class="d-flex jc-start">
              <p class="color1"></p>
              <p class="color2"></p>
          </div>
        </li>
        <li class="display-none-in-phone">
          <img src="/assets/images/product-6.png" alt="product-6">
          <div class="d-flex">
              <h3>BJ41600S</h3>
              <p class="f-s-24-red">NTD3,490</p>
          </div>
          <div class="d-flex jc-start">
              <p class="color1"></p>
              <p class="color2"></p>
          </div>
        </li>
        <li class="display-none-in-phone">
          <img src="/assets/images/product-1.png" alt="product-1">
          <div class="d-flex">
              <h3>BJ41600S</h3>
              <p class="f-s-24-red">NTD3,490</p>
          </div>
          <div class="d-flex jc-start">
              <p class="color1"></p>
              <p class="color2"></p>
          </div>
        </li>
        <li class="display-none-in-phone">
          <img src="/assets/images/product-2.png" alt="product-2">
          <div class="d-flex">
              <h3>BJ41600S</h3>
              <p class="f-s-24-red">NTD3,490</p>
          </div>
          <div class="d-flex jc-start">
              <p class="color1"></p>
              <p class="color2"></p>
          </div>
        </li>
        <li class="display-none-in-phone">
          <img src="/assets/images/product-3.png" alt="product-3">
          <div class="d-flex">
              <h3>BJ41600S</h3>
              <p class="f-s-24-red">NTD3,490</p>
          </div>
          <div class="d-flex jc-start">
              <p class="color1"></p>
              <p class="color2"></p>
          </div>
        </li>
        <li class="display-none-in-phone">
          <img src="/assets/images/product-4.png" alt="product-4">
          <div class="d-flex">
              <h3>BJ41600S</h3>
              <p class="f-s-24-red">NTD3,490</p>
          </div>
          <div class="d-flex jc-start">
              <p class="color1"></p>
              <p class="color2"></p>
          </div>
        </li>
        <li class="display-none-in-phone display-none-in-pad">
          <img src="/assets/images/product-5.png" alt="product-5">
          <div class="d-flex">
              <h3>BJ41600S</h3>
              <p class="f-s-24-red">NTD3,490</p>
          </div>
          <div class="d-flex jc-start">
              <p class="color1"></p>
              <p class="color2"></p>
          </div>
        </li>
        <li class="display-none-in-phone display-none-in-pad">
          <img src="/assets/images/product-6.png" alt="product-6">
          <div class="d-flex">
              <h3>BJ41600S</h3>
              <p class="f-s-24-red">NTD3,490</p>
          </div>
          <div class="d-flex jc-start">
              <p class="color1"></p>
              <p class="color2"></p>
          </div>
        </li>
      </ul>        
  </div>
  <ul class="container d-flex jc-center page-list">
      <li class="f-s-19 previous-page"><a href="#">上一頁</a></li>
      <li class="f-s-18"><a href="#">1</a></li>
      <li class="f-s-18 current-page"><a href="#">2</a></li>
      <li class="f-s-18"><a href="#">3</a></li>
      <li class="f-s-18"><a href="#">4</a></li>
      <li class="f-s-18"><a href="#">5</a></li>
      <li class="f-s-19 next-page"><a href="#">下一頁</a></li>
  </ul>

    <%- include('./layout/footer'); -%>

    <script type="module" src="../main.js"></script>
  </body>
</html>
