<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>index</title>
    <link href="https://fonts.googleapis.com/css?family=Material+Icons%7CMaterial+Icons+Outlined%7CMaterial+Icons+Two+Tone%7CMaterial+Icons+Round%7CMaterial+Icons+Sharp" rel="stylesheet">
  </head>
  <body>
    <%- include('./layout/header'); -%>

<div class="container store">  
  <h1>門市據點</h1>
  <div class="d-flex jc-start location">
    <p>選擇地區</p>
    <div class="d-flex dropdown">
        <button class="dropdown-btn">台北市<span class="material-icons-outlined">
          arrow_drop_down
          </span></button>
          <div class="dropdown-content"><a href="#">台中市</a><a href="#">台南市</a><a href="#">高雄市</a></div>
    </div>
  </div>
  <ul class="d-flex location-list">
    <li>
      <img src="/assets/images/store-1.png" alt="store-1">
      <h3>台北中山旗艦店</h3>
      <div class="store-content">
        <div class="d-flex-start tel">
          <span class="material-symbols-outlined">
              phone
              </span>
          <a href="tel:+(02)000-1234">(02)000-1234</a>
        </div>
        <div class="d-flex-start business-hour">
        <span class="material-symbols-outlined">
            watch_later
            </span><a href="">營業時間：10:00-21:00</a>
        </div>
        <div class="d-flex-start address">
        <span class="material-symbols-outlined">
            mail
            </span>
        <a href="#">地址：台北市中山區南京東路25巷2-1號</a>
        </div>
      </div>
      <div class="detail-info">詳細資訊</div>
    </li>
    <li>
      <img src="/assets/images/store-1.png" alt="store-1">
      <h3>台北綠園店</h3>
      <div class="store-content">
        <div class="d-flex-start tel">
          <span class="material-symbols-outlined">
              phone
              </span>
          <a href="tel:+(02)000-2345">(02)000-2345</a>
        </div>
        <div class="d-flex-start business-hour">
        <span class="material-symbols-outlined">
            watch_later
            </span><a href="">營業時間：10:00-21:00</a>
        </div>
        <div class="d-flex-start address">
        <span class="material-symbols-outlined">
            mail
            </span>
        <a href="#">地址：台北市中正區復興南路 132-1 號</a>
        </div>
      </div>
      <div class="detail-info">詳細資訊</div>
    </li>
    <li>
      <img src="/assets/images/store-1.png" alt="store-1">
      <h3>台中清水旗艦店</h3>
      <div class="store-content">
        <div class="d-flex-start tel">
          <span class="material-symbols-outlined">
              phone
              </span>
          <a href="tel:+(02)000-1234">(02)000-1234</a>
        </div>
        <div class="d-flex-start business-hour">
        <span class="material-symbols-outlined">
            watch_later
            </span><a href="">營業時間：10:00-21:00</a>
        </div>
        <div class="d-flex-start address">
        <span class="material-symbols-outlined">
            mail
            </span>
        <a href="#">地址：台中市清水區經南一路 23 號 8 樓</a>
        </div>
      </div>
      <div class="detail-info">詳細資訊</div>
    </li>
    <li>
      <img src="/assets/images/store-1.png" alt="store-1">
      <h3>高雄中正形象店</h3>
      <div class="store-content">
        <div class="d-flex-start tel">
          <span class="material-symbols-outlined">
              phone
              </span>
          <a href="tel:+(02)000-2345">(07)000-2345</a>
        </div>
        <div class="d-flex-start business-hour">
        <span class="material-symbols-outlined">
            watch_later
            </span><a href="">營業時間：10:00-21:00</a>
        </div>
        <div class="d-flex-start address">
        <span class="material-symbols-outlined">
            mail
            </span>
        <a href="#">地址：高雄市苓雅區中正路 38 號 12 樓</a>
        </div>
      </div>
      <div class="detail-info">詳細資訊</div>
    </li>
    <li>
      <img src="/assets/images/store-1.png" alt="store-1">
      <h3>地址：高雄市苓雅區中正路 38 號 12 樓</h3>
      <div class="store-content">
        <div class="d-flex-start tel">
          <span class="material-symbols-outlined">
              phone
              </span>
          <a href="tel:+(02)000-1234">(02)000-1234</a>
        </div>
        <div class="d-flex-start business-hour">
        <span class="material-symbols-outlined">
            watch_later
            </span><a href="">營業時間：10:00-21:00</a>
        </div>
        <div class="d-flex-start address">
        <span class="material-symbols-outlined">
            mail
            </span>
        <a href="#">地址：高雄市前鎮區中華一路 63 號 6 樓</a>
        </div>
      </div>
      <div class="detail-info">詳細資訊</div>
    </li>
    <li class="border-none"></li>
  </ul>
</div>

    <%- include('./layout/footer'); -%>

    <script type="module" src="../main.js"></script>
  </body>
</html>
